<h4>Downloads:</h4>
<h3>ICC-Profile</h3>
<ul class="plain">
    <li><a href="/download/pso-coated_v3.zip">PSO Coated v3</a></li>
    <li><a href="/download/pso-uncoated_v3_fogra52.zip">PSO Uncoated v3 (FOGRA52)</a></li>
</ul>
<h3>PDF-Settings</h3>
<ul class="plain">
    <li><a href="/download/Quark8_PDF_Settings.zip">Quark 7/8</a></li>
    <li><a href="/download/ColorPlusX4CC.zip">InDesign CC</a></li>
    <li><a href="/download/Color-Druck_Distiller.zip">Adobe Distiller</a></li>
</ul>
<h3>Tools</h3>
<ul class="plain">
    <li><a href="https://cyberduck.io/?l=de">Cyber-Duck</a></li>
    <li><a href="https://filezilla-project.org/">FileZilla</a></li>
    <li><a href="/download/ueberdrucken.pdf">Überdrucken-Kontroll-PDF</a></li>
</ul>
<br>
