<header class="container" id="header">
  <div class="outer">
    <div class="mi-headerbild"></div>
    <div class="mi-logo">
      <h1>
        <a href="/" title="Willkommen bei Lithos">
          <img
            alt="Lithos"
            src="{{ site.baseurl }}/assets/images/logo_lithos.png"
            title="Willkommen bei Lithos"
          />
        </a>
      </h1>
    </div>
    <div class="mi-slogan">
      <h2>Ein Rubin der Druck- und Medienindustrie</h2>
    </div>
    <!-- NAV START -->
    <nav class="mi-nav" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#software">Software</a>
        </li>
        <li>
          <a href="#geschichte">Geschichte</a>
        </li>
        <li>
          <a href="#anwender">Anwender</a>
        </li>
        <li>
          <a href="#kompetenz">Kompetenz</a>
        </li>
        <li>
          <a href="#vorteile">Vorteile</a>
        </li>
        <li>
          <a href="#kontakt">Kontakt</a>
        </li>
      </ul>
    </nav>
    <!-- NAV ENDE -->
  </div>
</header>
