<div class="support-menu">
    <i class="fa fa-plus fa-lg"></i>
    <span>Fragen?</span>
</div>

<div class="support-input">
    <a href="#" class="close"></a>
    <form method="post" name="supportForm" id="supportForm">
        <label for="name">Name</label>
        <input id="support_name" class="support_input" type="text" name="name" required />

        <label for="support_email">Email</label>
        <input id="support_email" class="support_input" type="email" name="support_email" required />

        <label for="support_thema">Text</label>
        <textarea id="support_text" class="support_input" type="text" name="support_text" required ></textarea>

        <input id="sendMessage" class="plain button white" type="submit"  name="login" value="Senden" />
    </form>
</div>
