/*--------- COLORS ------------------ */

$color_print: #0BA1E2;      // blue
$color_digital: #8ABC3F;    // green
$color_service: #C7207C;    // magenta

$red : rgba(253,104,91,1);
$red-hover : rgba($red ,0.9);

$orange : rgba(250,111,87,1);
$orange-hover : rgba($orange ,0.9);

$yellow : rgba(254,205,94,1);
$yellow-hover: rgba($yellow, 0.9);

$green : rgba(161,210,110,1);
$green-hover: rgba($green, 0.9);

$mint : rgba(79,206,173,1);
$mint-hover : rgba($mint, 0.9);

$aqua : rgba(85,193,231,1);
$aqua-hover : rgba($aqua, 0.9);

$blue : rgba(96,158,234,1);
$blue-hover : rgba($blue, 0.9);

$purple : rgba(171,148,233,1);
$purple-hover : rgba($purple, 0.9);

$pink : rgba(234,137,191,1);
$pink-hover : rgba($pink, 0.9);

$white : rgba(255,255,255,1);
$white-hover : rgba($white, 0.9);

$grey : rgba(170,178,188,1);
$grey-hover : rgba($grey, 0.9);

$dark-grey : rgba(84,87,102,1);
$dark-grey-hover: rgba($dark-grey, 0.9);
